doctype html
html
  head
    meta(charset="UTF-8")
    title Sass 7-1 Pattern
  body
    section#Header.wrap--header
      .container
        header
          h1
            a#logo
          nav
            ul.Menulist
              li.Menu-item
                a.Menu-link.is-selected(href="#") HOME
              li.Menu-item
                a.Menu-link(href="#Products") PRODUCTS
              li.Menu-item
                a.Menu-link(href="#Service") SERVICE
              li.Menu-item
                a.Menu-link(href="#Work") WORK
              li.Menu-item
                a.Menu-link(href="#Press") PRESS
              li.Menu-item
                a.Menu-link(href="#Contact") CONTACT
    section.wrap--slider
      .container
        .Slider
          h1.Slider-title.
            Digital Product Agency
          p.Slider-text Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        button.Button.Button--primary.
          WATCH INTRO VIDEO
    section#Products.wrap--product
      .container.containerV--lg
          .Product
            h2.Product-title.
              Latest Products
            p.Product-text.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do  eiusmod tempor incididunt ut labore et dolore magna aliqua.
          .CardGroup
            .Card
              img.Card-avatar(src=require('./src/img/970x647/01.jpg'))
              h3.Card-heading Workspace
                span title
              p.Card-body.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
              a(href="#").Card-btn.
                Read more
            .Card
              img.Card-avatar(src=require('./src/img/970x647/02.jpg'))
              h3.Card-heading Workspace
                span title
              p.Card-body.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
              a(href="#").Card-btn.
                Read more
            .Card
              img.Card-avatar(src=require('./src/img/970x647/03.jpg'))
              h3.Card-heading Workspace
                span title
              p.Card-body.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
              a(href="#").Card-btn.
                Read more
      .container--fullWidth
        .imgBox
        .imgBox
    section#Service.wrap--service
      .container.containerV--lg
        .Flip
          h3.Flip-title.
            Act of Coding
          p.Flip-text.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        .Flip
          h3.Flip-title.
            Act of Coding
          p.Flip-text.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        .Flip
          h3.Flip-title.
            Act of Coding
          p.Flip-text.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        .Flip
          h3.Flip-title.
            Act of Coding
          p.Flip-text.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        .Flip
          h3.Flip-title.
            Act of Coding
          p.Flip-text.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        .Flip
          h3.Flip-title.
            Act of Coding
          p.Flip-text.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    section.wrap--promote
      .container--sm.containerV--lg
        .Promote
          h2.Promote-title.
            Display Your Promotion Here
          p.Promote-text.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    section#Work.wrap--work
      .container.containerV--md
        .Flex
          .Flex-item.flex2
            img(src=require('./src/img/800x400/01.jpg')).img-fluid
          .Flex-item.flex1
            img(src=require('./src/img/397x400/01.jpg')).img-fluid
          .Flex-item.flex1
            img(src=require('./src/img/397x300/01.jpg')).img-fluid
          .Flex-item.flex1
            img(src=require('./src/img/397x300/02.jpg')).img-fluid
          .Flex-item.flex1
            img(src=require('./src/img/397x300/03.jpg')).img-fluid
    section#Press.wrap--pricing
      .container.containerV--lg
        .Flip
          h3.Flip-title.
            Starter Kit - $ 49
          p.Flip-text.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          ul.List
            li.List-item Basic Features
            li.List-item Up to 5 Products
            li.List-item 50 Users Panels
          a(href="#").Button.Button--secondary.
            Check
        .Flip.is-active
          h3.Flip-title.
            Professional - $ 149
          p.Flip-text.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          ul.List
            li.List-item Basic Features
            li.List-item Up to 5 Products
            li.List-item 50 Users Panels
          a(href="#").Button.Button--secondary.
            Check
        .Flip
          h3.Flip-title.
            Advanced - $ 249
          p.Flip-text.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          ul.List
            li.List-item Basic Features
            li.List-item Up to 5 Products
            li.List-item 50 Users Panels
          a(href="#").Button.Button--secondary.
            Check
    .wrap--review
      .container.containerV--md
        h2.Review-title.
          Customer Reviews
        p.Review-text.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        p.Review-footer
          small
            b Alex Clarson
            span  Metronic Customer
    section.wrap--gmap
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4353252.387841062!2d-7.118570884220525!3d33.581892200187134!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd0b88619651c58d%3A0xd9d39381c42cffc3!2z5pGp5rSb5ZOl!5e0!3m2!1szh-TW!2stw!4v1486629925053" width="100%" height="365" frameborder="0" style="border:0" allowfullscreen></iframe>
    section
      footer
        .container.containerV-lg
          ul.List.List--fl
            li.List-item Home
            li.List-item About
            li.List-item Work
            li.List-item Contact
          ul.List.List--fl
            li.List-item Twitter
            li.List-item Facebook
            li.List-item Instagram
            li.List-item Youtube
          ul.List.List--fl
            li.List-item Subscribe to Our Newsletter
            li.List-item Privacy Policy
            li.List-item Terms & Conditions
    section.Copyright
      .container.containerV--sm
        span.Copyright-logo
        span.Copyright-text Aironepage
          small  Theme Powered by: KeenThemes.com
